<%- include ('partials/header.ejs') %>
<link rel="stylesheet" href="/css/style.css">

<body>
    <div class="container">
        <hr>
        <br>
        <h2 class="text-center">GERENCIAMENTO DE ESTOQUE INCOMELE</h2>
        <br>
        <hr>
        <br>
        <div class="button-select">
            <a href="/luminaria" class="btn btn-primary bt1">LUMINÁRIA</a>
            <a href="/pescoco" class="btn btn-primary bt2">PESCOÇO</a>
        </div>
        <hr>
    </div>

</body>

<%- include ('partials/footer.ejs') %>